.color{
	background: #000;
	}

.color2{
	background: #ED1B24;
	color: #fff;
}
.grey{
	background-color : grey;
}

.altura{
	height: 350px;
}
.altura2{
	height: 3px;
}
.colorpokemon{
	background: red;
}
.colorpokemon2{
	background: #fff;
}
